.grid {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(50, 1fr);
    grid-gap: 2px;
    width: 96%;
    height: 43vw;
    max-width: 100%;
    box-sizing: border-box;
    padding: 3px;
    overflow:auto;
    border: var(--grid-border);
    border-radius: 5px;
    box-shadow: 0px 0px 10px 10px  black;
    /* background: #002E51; */
    /* color for later
    radial-gradient(at left bottom, rgb(245, 208, 254), rgb(45, 212, 191), rgb(77, 124, 15))
    */
}