.container {
    box-sizing: border-box;
    background-color: black;
    color: aliceblue;
    width: 97vw;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
    margin-bottom: 20px;
}


