/* Node initial setting */
.node {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.8vw;
  /* height: calc(100% / 1); */
  /* padding-bottom: calc(100% / 1);  */
  /* Maintain square aspect ratio */
  padding: 0px;
  border: 1px solid #22333b;
  box-sizing: border-box;
  background-color: black;
}
/* ================================================ */

/* Wall Animation */
.on {
    animation-name: wallAnimation;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes wallAnimation {
  0% {
    transform: scale(.3);
    /* background: radial-gradient(at right bottom, rgb(148, 163, 184), rgb(241, 245, 249), rgb(120, 113, 108)); */
    background: #028090;
  }

  50% {
    transform: scale(1.2);
    /* background: radial-gradient(at right bottom, rgb(148, 163, 184), rgb(241, 245, 249), rgb(120, 113, 108)); */
    background: #00a896;
  }

  100% {
    transform: scale(1.0);
    /* background: radial-gradient(at right bottom, rgb(148, 163, 184), rgb(241, 245, 249), rgb(120, 113, 108)); */
    /* background-color: rgb(12, 53, 71); */
    background: #05668d;
  }
}

/* ================================================ */

/* BullsEye Styling */
.bullsEyeStatic {
  color: #ff006e;
  box-sizing: border-box;
  height: 1.5vw;
  width: 1.5vw;
  transform: scale(1.2);
  margin: 0px;
  padding: 0px;
}


.bullsEyeDrop {
  animation-name: bullsEyeAnimation;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes bullsEyeAnimation {
  0% {
    transform: scale(.3);
    color: #ff006e;
    box-sizing: border-box;
    height: 1.5vw;
    width: 1.5vw;
    /* transform: scale(1.2); */
    margin: 0px;
    padding: 0px;
  }

  50% {
    transform: scale(1.2);
    color: #ff006e;
    box-sizing: border-box;
    height: 1.5vw;
    width: 1.5vw;
    /* transform: scale(1.2); */
    margin: 0px;
    padding: 0px;
  }

  100% {
    transform: scale(1.0);
    color: #ff006e;
    box-sizing: border-box;
    height: 1.5vw;
    width: 1.5vw;
    /* transform: scale(1.2); */
    margin: 0px;
    padding: 0px;
  }
}
/* =================== */

/* Arrow Styling */
.arrowStatic {
  color:#ffba08 ;
  box-sizing: border-box;
  height: 1.5vw;
  width: 1.5vw;
  transform: scale(1.7);
  margin: 0px;
  padding: 0px;
}

.arrowDrop {
  animation-name: arrowAnimation;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes arrowAnimation {
  0% {
    transform: scale(.3);
    color: #ffba08;
    box-sizing: border-box;
    height: 1.5vw;
    width: 1.5vw;
    /* transform: scale(1.2); */
    margin: 0px;
    padding: 0px;
  }

  50% {
    transform: scale(1.6);
    color: #ffba08;
    box-sizing: border-box;
    height: 1.5vw;
    width: 1.5vw;
    /* transform: scale(1.2); */
    margin: 0px;
    padding: 0px;
  }

  100% {
    transform: scale(1.4);
    color: #ffba08;
    box-sizing: border-box;
    height: 1.5vw;
    width: 1.5vw;
    /* transform: scale(1.2); */
    margin: 0px;
    padding: 0px;
  }
}