/* Node initial setting */
.node {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.8vw;
  /* height: calc(100% / 1); */
  /* padding-bottom: calc(100% / 1);  */
  /* Maintain square aspect ratio */
  padding: 0px;
  border: var(--node-border);
  box-sizing: border-box;
  background-color: black;
}
/* ================================================ */

/* Wall Animation */
.on {
    animation-name: wallAnimation;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes wallAnimation {
  0% {
    transform: scale(.3);
    /* background: radial-gradient(at right bottom, rgb(148, 163, 184), rgb(241, 245, 249), rgb(120, 113, 108)); */
    background: var(--wall-color-0);
  }

  50% {
    transform: scale(1.2);
    /* background: radial-gradient(at right bottom, rgb(148, 163, 184), rgb(241, 245, 249), rgb(120, 113, 108)); */
    background: var(--wall-color-50);
  }

  100% {
    transform: scale(1.0);
    /* background: radial-gradient(at right bottom, rgb(148, 163, 184), rgb(241, 245, 249), rgb(120, 113, 108)); */
    /* background-color: rgb(12, 53, 71); */
    background: var(--wall-color-100);
  }
}

/* ================================================ */

/* BullsEye Styling */
.bullsEyeStatic {
  color: var(--target);
  box-sizing: border-box;
  height: 1.5vw;
  width: 1.5vw;
  transform: scale(1.2);
  margin: 0px;
  padding: 0px;
}

.bullsEyeStatic:hover {
  cursor: pointer;
}


.bullsEyeDrop {
  animation-name: bullsEyeAnimation;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes bullsEyeAnimation {
  0% {
    transform: scale(.3);
    color: var(--target);
    box-sizing: border-box;
    height: 1.5vw;
    width: 1.5vw;
    /* transform: scale(1.2); */
    margin: 0px;
    padding: 0px;
  }

  50% {
    transform: scale(1.2);
    color: var(--target);
    box-sizing: border-box;
    height: 1.5vw;
    width: 1.5vw;
    /* transform: scale(1.2); */
    margin: 0px;
    padding: 0px;
  }

  100% {
    transform: scale(1.0);
    color: var(--target);
    box-sizing: border-box;
    height: 1.5vw;
    width: 1.5vw;
    /* transform: scale(1.2); */
    margin: 0px;
    padding: 0px;
  }
}
/* =================== */

/* Arrow Styling */
.arrowStatic {
  color:#ffba08 ;
  box-sizing: border-box;
  height: 1.5vw;
  width: 1.5vw;
  transform: scale(1.7);
  margin: 0px;
  padding: 0px;
}

.arrowStatic {
  cursor: pointer;
}

.arrowDrop {
  animation-name: arrowAnimation;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes arrowAnimation {
  0% {
    transform: scale(.3);
    color: var(--arrow);
    box-sizing: border-box;
    height: 1.5vw;
    width: 1.5vw;
    /* transform: scale(1.2); */
    margin: 0px;
    padding: 0px;
  }

  50% {
    transform: scale(1.6);
    color: var(--arrow);
    box-sizing: border-box;
    height: 1.5vw;
    width: 1.5vw;
    /* transform: scale(1.2); */
    margin: 0px;
    padding: 0px;
  }

  100% {
    transform: scale(1.4);
    color: var(--arrow);
    box-sizing: border-box;
    height: 1.5vw;
    width: 1.5vw;
    /* transform: scale(1.2); */
    margin: 0px;
    padding: 0px;
  }
}

/* Visited Node Styling */

.visited {
  animation-name: visitedAnimation;
  animation-duration: var(--visitedSpeed);
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

  @keyframes visitedAnimation {
  0% {
    transform: scale(.3);
    border-radius: 100%;
    /* background: radial-gradient(at right bottom, rgb(148, 163, 184), rgb(241, 245, 249), rgb(120, 113, 108)); */
    background: #6a040f;
    border: none;
  }

  55% {
    transform: scale(1);
    border-radius: 40%;
    /* background: radial-gradient(at right bottom, rgb(148, 163, 184), rgb(241, 245, 249), rgb(120, 113, 108)); */
    background: #6a040f;
    border: none;
  }

  80% {
    transform: scale(1.2);
    border-radius: 10%;
    /* background: radial-gradient(at right bottom, rgb(148, 163, 184), rgb(241, 245, 249), rgb(120, 113, 108)); */
    background: #ffba08;
    border: none;
  }

  90% {
    transform: scale(1.0);
    /* background: radial-gradient(at right bottom, rgb(148, 163, 184), rgb(241, 245, 249), rgb(120, 113, 108)); */
    /* background-color: rgb(12, 53, 71); */
    border-radius: 0%;
    background: #dc2f02;
    border: none;
  }

  95% {
    transform: scale(1.0);
    /* background: radial-gradient(at right bottom, rgb(148, 163, 184), rgb(241, 245, 249), rgb(120, 113, 108)); */
    /* background-color: rgb(12, 53, 71); */
    border-radius: 0%;
    background: #6a040f;
    border: none;
  }

  100% {
    transform: scale(1.0);
    /* background: radial-gradient(at right bottom, rgb(148, 163, 184), rgb(241, 245, 249), rgb(120, 113, 108)); */
    /* background-color: rgb(12, 53, 71); */
    border-radius: 0%;
    background: #000814;
    border: none;
  }
}


/* Visited Path Animation */


.visitedPath {
  animation-name: visitedPathAnimation;
  animation-duration: var(--visitedSpeed);
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

  @keyframes visitedPathAnimation {
  0% {
    transform: scale(.3);
    border-radius: 100%;
    /* background: radial-gradient(at right bottom, rgb(148, 163, 184), rgb(241, 245, 249), rgb(120, 113, 108)); */
    background: #00115e;
    border: none;
  }

  55% {
    transform: scale(1);
    border-radius: 40%;
    /* background: radial-gradient(at right bottom, rgb(148, 163, 184), rgb(241, 245, 249), rgb(120, 113, 108)); */
    background: #00115e;
    border: none;
  }

  80% {
    transform: scale(1.2);
    border-radius: 10%;
    /* background: radial-gradient(at right bottom, rgb(148, 163, 184), rgb(241, 245, 249), rgb(120, 113, 108)); */
    background: #00334a;
    border: none;
  }

  90% {
    transform: scale(1.0);
    /* background: radial-gradient(at right bottom, rgb(148, 163, 184), rgb(241, 245, 249), rgb(120, 113, 108)); */
    /* background-color: rgb(12, 53, 71); */
    border-radius: 0%;
    background: #005435;
    border: none;
  }

  95% {
    transform: scale(1.0);
    /* background: radial-gradient(at right bottom, rgb(148, 163, 184), rgb(241, 245, 249), rgb(120, 113, 108)); */
    /* background-color: rgb(12, 53, 71); */
    border-radius: 0%;
    background: #007621;
    border: none;
  }

  100% {
    transform: scale(1.0);
    /* background: radial-gradient(at right bottom, rgb(148, 163, 184), rgb(241, 245, 249), rgb(120, 113, 108)); */
    /* background-color: rgb(12, 53, 71); */
    border-radius: 0%;
    background: #004440;
    border: none;
  }
}

