@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

.container {
    display: flex;
    background: #121214;
    justify-content: start;
    align-items: center;
    background-color: none;
    width: 100vw;
    height: 110px;
    padding: none;
    margin-bottom: 0px;
    border-radius: 5px;
}

h1 {
    margin-bottom: 40px;
    font-family: 'Outfit', sans-serif;
    font-size: 35px;
    background:  #CAD3D7; 
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color:transparent;
    margin-left: 20px;
}